<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
    <meta charset="UTF-8">
    <title>Journal</title>
</head>
<body>
    <h1 th:inline="text">This is [[${#httpServletRequest.remoteUser}]]'s journal</h1>

    <div class="container">
        <h3>List Entries</h3>
        <hr/>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Text</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="entry: ${entries}">
                    <td th:text="${entry.id}" />
                    <td th:text="${entry.text}" />
                </tr>
            </tbody>
        </table>
    </div>

    <a th:href="@{/addnew}" class="btn btn-primary btn-sm mb-3" >Add Entry</a>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>