<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .error {
        color: red;
        }
    </style>
    <meta charset="ISO-8859-1">
    <title>Add Entry</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Add Entry</h1>
    <hr>
    <form action="#" th:action="@{/save}" th:object="${journalEntry}"
          method="POST">
        <div th:if="${#fields.hasErrors('global')}">
            <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
        </div>
        <input type="text" th:field="*{text}" name="text" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Save Entry</button>
    </form>
    <hr>
    <a th:href="@{/journal}"> Back to Journal</a>
</div>
</body>
</html>